<div class="background h-screen w-full overflow-hidden lg:p-4">
  <div class="content relative h-screen overflow-hidden lg:rounded-2xl flex items-center justify-center">
    <div class="flex items-center justify-center w-full h-full">
      <main>
      <div class="container">
        <div class="mt-8 rounded-2xl h-full w-full" style="background: rgb(146 151 179 / 13%)">
          <div class="container1 mx-auto h-full w-full">
            <div class="py-8 h-full w-full">
              <div class="py-4">
                <div class="max-w-full overflow-x-auto rounded-lg h-full w-full">
                  <div class="mat-elevation-z8">
                    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="h-full w-full flex flex-col justify-center">
                      <h1 class="text-white text-center">
                        @if (cursoExiste) {
                        Editar Curso
                        }@else {
                        Registrar Curso
                        }
                      </h1>
                      <br><br>
                      <hr class="text-white" />
                      <br>
                      <label for="name" class="text-white"><b>Nombre</b></label>
                      <br>
                      <input type="text" formControlName="nombre" placeholder="Introduzca su nombre"
                        class="form-control"
                        [ngClass]="{'is-valid': registerForm.get('nombre')?.valid && (registerForm.get('nombre')?.dirty || registerForm.get('nombre')?.touched), 'is-invalid': registerForm.get('nombre')?.invalid && (registerForm.get('nombre')?.dirty || registerForm.get('nombre')?.touched)}" />

                      <div class="invalid-feedback"
                        *ngIf="registerForm.get('nombre')?.invalid && (registerForm.get('nombre')?.dirty || registerForm.get('nombre')?.touched)">
                        <div *ngIf="registerForm.get('nombre')?.errors?.['minlength']">
                          Introduzca un nombre con 5 caracteres mínimo
                        </div>
                        <div *ngIf="registerForm.get('nombre')?.errors?.['required']">
                          Introduzca un nombre válido por favor
                        </div>
                      </div>

                      <br>
                      <div class="text-end">
                        <section>
                          <div class="example-button-row">
                            <div class="example-flex-container">
                              <div class="example-button-container">
                                  @if (cursoExiste) {
                                    <button mat-fab extended type="submit" [disabled]="registerForm.invalid" class="btn-home">
                                    <mat-icon>update</mat-icon>
                                    Actualizar Curso
                                    </button>
                                    }@else {
                                    <button mat-fab extended type="submit" [disabled]="registerForm.invalid" class="btn-home">
                                    <mat-icon>add</mat-icon>
                                    Registrar Curso
                                    </button>
                                  }
                                  <button mat-fab extended class="btn-delete" routerLink="/mostrarCursos">
                                    <mat-icon>cancel</mat-icon>
                                    Cancelar
                                  </button>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="text-white">
          &copy; 2024 Todos los derechos reservados.
        </footer>
      </div>
      </main>
    </div>
  </div>
</div>
