.mt-8 {
  margin-top: 2rem;
  align-items: center;
}

.rounded-2xl {
  border-radius: 2rem;
}

.container {
  max-width: 87%;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.max-w-full {
  max-width: 100%;
}

.overflow-x-auto {
  overflow-x: auto;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.text-white {
  color: #fff;
  text-align: center;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #06060631;
}

.table-hover tbody tr:hover {
  background-color: rgb(243, 235, 235);
}

.text-end {
  text-align: right;
}

.text-start {
  text-align: left;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  margin: 10px;
  display: flex;
  align-items: center;
}

.btn-icon {
  margin-right: 8px;
}

.bg-green-200 {
  background-color: #c6f6d5;
}

.leading-normal {
  line-height: 1.5;
}

.font-semibold {
  font-weight: 600;
}

.relative {
  position: relative;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mb-5 {
  color: white;
  text-align: center;
  padding-top: 30px;
  text-emphasis-color: white;
}

.opacity-50 {
  opacity: 0.5;
}

.rounded-full {
  border-radius: 9999px;
}

.background {
  background-image: url("./mac.webp");
  background-position: center;
  background-size: cover;
}

.content {
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(24px);
}

.main {
  color: #f9fafb;
  background-color: rgba(16 18 27 / 40%);
  overflow: auto;
}

.main::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.main::-webkit-scrollbar-thumb {
  background: rgb(1 2 3 / 40%);
  border-radius: 10px;
}

.example-button-row {
  display: table-cell;
  justify-content: flex-end;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 150px;
}

section {
  display: table;
  text-align: end;
  width: 90%;
}

.btn-edit {
  background-color: #4caf50; /* Verde */
  color: white;
}

.btn-delete {
  background-color: #f44336; /* Rojo */
  color: white;
}

.btn-home{
  background-color: #2196f3; /* Azul */
  color: white;
}

.btn-add {
  background-color: #ff9800; /* Naranja */
  color: white;
}

footer {
  margin-top: 30px;
  font-size: 0.875rem;
  text-align: center; /* Centra el texto dentro del footer */
}
